/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
}

/* classi replicabili */
.container {
    width: 70%;
}

.margin-top {
    margin-top: 20px;
}

.padding-top {
    padding-top: 40px;
}

.sfondo-bianco{
    background-color: white;

}

.padding {
    padding: 15px 60px;
}


/* header */
header {
   
    height: 100px;
}

header>img {
    margin-left: 20px;
}

#logo-principale{
    display: inline-block;
}

/* nav */
nav{
    border-radius: 10px 10px 0 0;
    height: 50px;
    margin: auto;
    margin-top: 40px;
}

nav>input {
    padding:5px;
    font-size: 10px;
    border-radius: 5px;
}

#add-task {
    background-color: blue;
    color: white;
}

#add-selection {
    background-color: white;
    color: grey;
}




/* main */
main{   
    height: 600px;
    margin: auto;
    margin-top: 3px;
}

ul {
    list-style: none;
}

.titolo-spunta{
    border: nonex;
}

.spunta {
    border: 1px solid blue;
    color: blue;
    border-radius: 50%;
}