/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
}

/* classi replicabili */
.container {
    width: 70%;
}

.margin-top {
    margin-top: 20px;
}

.padding-top {
    padding-top: 40px;
}

.sfondo-bianco{
    background-color: white;

}

.padding {
    padding: 15px 60px;
}


/* header */
header {
   
    height: 100px;
}

header>img {
    margin-left: 20px;
    vertical-align: middle;
}

#logo-principale{
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
}

/* nav */
nav{
    border-radius: 10px 10px 0 0;
    height: 50px;
    margin: auto;
    margin-top: 40px;
}

nav>input {
    padding:5px;
    font-size: 10px;
    border-radius: 5px;
}

#add-task {
    background-color: blue;
    color: white;
}

#add-selection {
    background-color: white;
    color: grey;
}


/* main */
main{   
    height: 530px;
    margin: auto;
    margin-top: 3px;
    border-radius:0 0 10px 10px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
}


.spunta-v {
    /* with
    text-align
    display      */
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid green;
    color: green;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
}

.spunta-x {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid red;
    color: red;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
}

li {
    margin-top: 15px;
}


.rettangolo {
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
}

.editorial {
    background-color: rgb(10, 143, 187);
    
} 
 
.q1-goals {
    background-color: blueviolet;
}

.recruiting {
    background-color: green;
}

.mobile {
    background-color: orangered;
}

.website {
    background-color: rgb(233, 73, 108);
}

.sales {
    background-color: rgb(9, 160, 9);
}